* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, white, hotpink);
}

.container{
    margin: 0 15px;
}

.form-box{
    width: 100%;
    max-width: 500px;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    display: none;
}

.form-box.active{
    display: block;
}

h2{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 10px;
    background: #eee;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
}

button{
    width: 100%;
    padding: 10px;
    background: lightpink;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
    transition: 1s;
}

button:hover{
    background: deeppink;
}

p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
}

p a{
    color: cornflowerblue;
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;
}